body {
  background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcTRXMCflFD0I2kVMdQLXY755gdGf3gOsde1mBUAf9HbbOuio_KF&usqp=CAU");
  background-size: cover;
  background-repeat: no-repeat;
  height: 100%;
  font-family: "Numans", sans-serif;
}
body{
    border:3px solid black;
    height:225%;
}

p6 {
  float: left;
  margin-top:20px;
  margin-left: 4%;
}
table {
  border: 3px solid black;
  width: 50%;
  border-collapse: collapse;
  position: absolute;
  top: 100%;
  left: 20%;
  border-color: black;
}

td, th {
  border: 2px solid black;
  padding: 5px;
  color: black;
  font-weight: bold;
}

th {
  background-color: lightgray;
  text-align: center;
  color: black;
}

#head {
  position: absolute;
  top: 5%;
  left: 30%;
  right: 30%;
  font-size: 28px;
  background: rgba(0, 0, 0, 0.6);
  color: #fff;
  height:50px;
}

p1{
    position:absolute;
    left:10%;
    top:15%;
    color: white;
}
p2{
    position:absolute;
    left:66%;
    top:17%;
    color:white;
  
}


ul{
    position:absolute;
    top:10%;
    left:4%;
    font-weight:bold;
    font-size:125%;
    padding:1%;
    
}

#courses{
    position:absolute;
    top:180%;
    left:10px;
    padding:25px;
}

/*mobile version*/

@media screen and (max-width: 700px){
    #head {
        position: absolute;
        top: 17%;
        left: 14%;
        font-size: 28px;
        background: rgba(0, 0, 0, 0.6);
        color: #fff;
        height:50px;
        width:380px;
        
}

@media screen and (max-width: 700px){
    body{
        height:195%;
    }
}

@media screen and (max-width: 700px){
    ul{
    position:absolute;
    top:20%;
    left:4%;
    font-weight:bold;
    font-size:125%;
    padding:1%;
    
}
}
